.App {
  text-align: center;
}

.header-main {
  height: 50px;
  width: 100%;
  padding: 0 25px;
  background-color: orangered;
  display: flex;
  justify-content: space-between;
  align-items: center;
}